doctype html

include mixin

html
	head
		title 勉強会資料
		link(rel="stylesheet" href="/mosa-study/study.css")
	body
		article
			h1 勉強会資料

			// section
				h1 はじめに
				div.
					知っておくべきこと、パフォーマンス・チューニングの小技など。
					各項目は電車の中で気軽に読めるくらいのボリュームにしています。
					はやりすたりのあるライブラリの使い方についてはあまり触れるつもりはありません。ときどきで。
				div メインは「ずっと使える」知識を紹介します。

			section
				div 11/26の勉強会用。

			section
				h1 Javascriptの基礎知識
				ol
					li 基礎知識
						ul
							+index('JS学習のターゲットバージョン', 'javascript/js-target')
							+indexing('Javascriptの型', 'javascript/type-of-js')
							li.disabled 暗黙の型変換
							+index('nullとundefind, NaN', 'javascript/null-and-undefined')
							+index('値の比較「==」と「===」', 'javascript/equal')
							+index('falsyな値', 'javascript/falsy')
							li.disabled JSON

					li ショートハンド(略記法)
						ul
							+index('ショートハンドとは', 'javascript/shorthand/shortHand')
							+index('「||」の使い方', 'javascript/shorthand/or-join')
							li.disabled 「&&」でifを省略
							li.disabled !!とか~~とか!0とかvoid 0とか
					li 関数
						ul
							+index('関数 Function', 'javascript/function/function')
							+index('関数の実体化(new)', 'javascript/function/function-object')
							+index('this', 'javascript/function/this')
							+index('apply, callによるthis', 'javascript/function/apply-and-call')
							+indexing('プロトタイプ prototype', 'javascript/function/prototype')
							+indexing('クロージャ closure', 'javascript/function/closure')
							+indexing('値渡しと参照渡し', 'javascript/function/reference-and-value')



					li 中級編
						ul
							li.disabled Javascriptはシングルスレッドである
							+indexing('変数のスコープ', 'javascript/scope')

							+indexing('Defferd, Promise', 'javascript/deferred')
							+indexing('正規表現', 'javascript/regexp')
							li.disabled ArrayとObject

			// section
				h1 Javascript 実践編
				ol
					li 共通関数を作ってみる
						ul
							+index('ストップウォッチ関数', 'javascript/stopwatch')
							+index('数値判定(isNumeric)関数の作成', 'framework/function-isNumeric')

					li 業務で使えるテクニック
						ul
							+index('パフォーマンス計測', 'javascript/performance')
							li.disabled undefinedとvoid 0
							li.disabled prototype拡張
							li.disabled Arrayを知る(push,pop,shift,unshift)
							li.disabled 	Array.sort
							li.disabled 	shuffleのprototype実装
							li.disabled 正規表現
							li.disabled 	正規表現リテラルとRegExp
							li.disabled 	入力値のチェック RegExp.test
							li.disabled 	前ゼロを除去する"0010" -> "10" / String(+"0010")

			section
				h1 次のステップ
				div 今回は対象外
				ol
					li 便利ワザ
						ul
							li.disabled スクリプトレット
							li.disabled String.replace
					li パフォーマンス
						ul
							+deadlink('forとforEach', 'javascript/for-and-forEach')
							li.disabled undefinedとvoid 0
					li 障害対策
						ul
							li.disabled クロージャとメモリリーク



			section
				h1 CSS(今回は対象外)
				ol
					li.disabled 脱bootstrap
						ul
							li.disabled flex
							+indexing('unicode-icon', 'css/unicode-icon')
						// レスポンシブ

			section
				h1 appendix
				ol
					// +index('style guide', 'style-guide/index')
					+index('codehighlight.jsについて', 'appendix/codehighlight')
					+index('参考文献', 'appendix/books')
