// 記事テンプレート
extends ../../template.jade

// 記事のタイトルをココに
block title
	title Javascript: ショートハンドテクニック

// 記事本文
block contents
	h1 ショートハンド(略記法)とは
	section
		h1 Javascript: ショートハンドテクニック
		div.
			他の言語もそうですが、Javascriptでもショートハンドテクニック(略記法)というものがあります。
			ショートハンドとは略記法、という意味合いでしょうか。
			同じ処理でも簡潔に書くことができますが、初めて見た人は「え？これなにやってるの？」と思うことでしょう。
		p.
			これから、そんなショートハンド記法を解説します。
			ショートハンドで書けるようになる、よりはまず「ショートハンドが読める」ことが重要です。
		p これらのテクニックを前提としている箇所が多いのでちゃんと読めるようにしてください。

// ライター情報
block writer
	include ../../persons/TomoYoshida