// 記事テンプレート
extends ../../template.jade

// 記事のタイトルをココに
block title
	title クロージャ

// 記事本文
block contents
	h1 クロージャ
	div まだ書いてません

	section
		h1
		div.


		script(title="forとforEach",type="code/Javascript").
		div

// ライター情報
block writer
	include ../../persons/TomoYoshida