doctype html

include mixin
html
	head
		block title
		link(rel="stylesheet" href="/web-learning.css")
	body
		article
			h1
				span
					block title
			block contents

			div.space
			footer
				div.flex-center
					a.btn(href="/") HOME
				div.writer
					h4 ライター情報
					block writer
				div.space
		script(src="/js/_lib.min.js")
		script.
			CodeHighlight.execute();
